In [2]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('xaa.csv')
df.dtypes

TRIP ID                     int64
START TIME                 object
STOP TIME                  object
BIKE ID                     int64
TRIP DURATION               int64
FROM STATION ID             int64
FROM STATION NAME          object
TO STATION ID               int64
TO STATION NAME            object
USER TYPE                  object
GENDER                     object
BIRTH YEAR                float64
FROM LATITUDE             float64
FROM LONGITUDE            float64
FROM LOCATION              object
TO LATITUDE               float64
TO LONGITUDE              float64
TO LOCATION                object
Boundaries - ZIP Codes    float64
Zip Codes                   int64
Community Areas           float64
Wards                     float64
dtype: object

In [14]:
commonDestinations = df.groupby(["FROM STATION ID", "TO STATION ID"]).size().reset_index().rename(columns={0: "count"})
print commonDestinations

      FROM STATION ID  TO STATION ID  count
0                   2             45      1
1                   2            268      2
2                   3              3      9
3                   3              4      7
4                   3             33      2
5                   3             35      9
6                   3             39      2
7                   3             40      1
8                   3             41      1
9                   3             45      2
10                  3             59      2
11                  3             76      6
12                  3             85      3
13                  3            177      2
14                  3            192      1
15                  3            264      2
16                  3            268      4
17                  3            284      5
18                  3            338      2
19                  3            341      7
20                  4              4      8
21                  4              6      2
22                  4             24      1
23                  4             35      3
24                  4             41      1
25                  4             45      1
26                  4             62      1
27                  4             66      1
28                  4             72      1
29                  4             76      7
...               ...            ...    ...
6834              545            538      1
6835              546            547      1
6836              547            546      1
6837              552            368      1
6838              596            353      2
6839              596            354      1
6840              596            447      1
6841              596            449      2
6842              596            466      1
6843              596            597      3
6844              597            447      1
6845              597            596      2
6846              597            597      1
6847              600            596      1
6848              609            532      1
6849              609            613      1
6850              610            509      1
6851              610            614      1
6852              610            617      1
6853              611            611      1
6854              611            616      1
6855              611            618      2
6856              614            544      1
6857              614            613      1
6858              616            616      3
6859              617            614      1
6860              617            617      1
6861              618            609      2
6862              618            611      1
6863              618            618      2

[6864 rows x 3 columns]

In [30]:
commonDestinations.groupby(['FROM STATION ID']).max()

                 TO STATION ID  count
FROM STATION ID
2                          268      2
3                          341      9
4                          424      8
5                          321      3
6                          324     17
7                          337      3
9                          339      1
11                         424      1
12                         417      1
13                         501      4
14                         282      2
15                         359      2
16                         343      2
17                         374      2
18                         190      2
19                         346      2
20                         504      2
21                         434      2
22                         434      2
23                         286      1
24                         291      7
25                         318      4
26                         340      6
27                         359      2
28                         329      3
29                         347      1
30                         504      1
31                         401      3
32                         274      2
33                         414      8
...                        ...    ...
504                        511      1
505                        492      2
506                        509      3
507                        309      2
508                        532      1
509                        509      2
510                        510      1
511                        511      4
529                        530      1
530                        540      1
532                        609      1
534                        545      1
535                        545      1
537                        545      1
538                        535      1
542                        541      2
545                        538      1
546                        547      1
547                        546      1
552                        368      1
596                        597      3
597                        597      2
600                        596      1
609                        613      1
610                        617      1
611                        618      2
614                        613      1
616                        616      3
617                        617      1
618                        618      2

[458 rows x 2 columns]

In [29]:
aggdf = commonDestinations.groupby(['count']).max()

       FROM STATION ID  TO STATION ID
count
1                  618            617
2                  618            618
3                  616            616
4                  511            511
5                  459            454
6                  451            462
7                  294            463
8                  341            334
9                  334            192
10                 211            273
11                 284            284
12                 268            341
13                 341            249
14                 283            174
16                  35            268
17                  35            177
18                  76             35
19                  85            177
27                 268             35

In [56]:
commonFrom = df.loc[df["FROM STATION ID"] == 268]
commonFrom.loc[df["TO STATION ID"] == 35].groupby(["BIKE ID"]).drop('TO LATITUDE')

AttributeError: Cannot access callable attribute 'drop' of 'DataFrameGroupBy' objects, try using the 'apply' method